/* CSS reset */
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

/* Navigation Bar : Logo */
#logo{
    margin: 10px 10px;
    position: relative;
    right: 20%;
}
#logo img{
    margin: 5px 10px;
    height: 50px;
}

/* Navigation Bar : List */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    margin: 0px 20px;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 4px 15px;
    text-decoration: none;
    border-radius: 15px;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('images/bg4.jpg') no-repeat center center/cover;
    top: 0%;
    left: 0%;
    height: 483px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

/* Service container */
#service-container{
    position: relative;
}

#service-container::before{
    content: "";
    background: url('images/bg5.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#services{
    display: flex;
}

#services .box{
    border: 2px solid rgb(135, 199, 141);
    background-color: rgb(185, 218, 188);
    margin: 20px 40px;
    border-radius: 30px;
}

#services .box:hover{
    background-color: rgb(160, 211, 164);
}

#services p{
    padding: 20px;
    text-align: center;
}

#services .box img{
    display: block;
    height: 160px;
    margin: auto;
}

/* Clients Section */
#client-section{
    position: relative;
}

#client-section::before{
    content: "";
    background: url('images/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 100px;
}

.client-item{
    padding: 30px;
}

/* Contact section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    background: url('images/contact.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
    font-size: 1.3rem;
}

/* Footer section */
footer{
    background-color: rgb(36, 33, 33);
    color: white;
    padding: 5px 20px;
}

/* Utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.2rem;
    padding: 12px;
}

.btn{
    outline: none;
    padding: 8px 20px;
    color: white;
    border: 2px solid rgb(4, 114, 155);
    background-color: rgb(8, 137, 184);
    margin: 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(11, 116, 155);
}

.center{
    text-align: center;
}